<h1 class="display-4">Contact us</h1>
<div class="container">
    <div class="row">
        <div class="col-12 text-muted">
            Phone: +359 123 456<br />
            Email: contact@new-soft-academy.com
            
        </div>
    </div><hr />
    <div class="row">
        <div class="col-12 text-muted">
           email: backnott@@gmail.com<br />
           email: backnot@mail.bg<br />
           github: github.com/BackNot <br />
        </div>
    </div>
</div>