@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-12">
            <h1 class="display-4">New Soft Academy</h1>
            <hr />
        </div>
    </div>
    <div class="row">
      
        <div class="col-12 ">
           <p class="lead">
               Our mission here is to help you gain knowledge of computer programming. In order to do this we constantly upload lessons and create new courses
               where you can learn new things.
           </p>
            </div>
        </div>
    <div class="row">
        <div class="col-12">
            <p class="lead">
                To see what's new check out the 'News' tab and see our latest changes!
                <br /> In 'Course' tab you can see our courses and choose the ones that you'd like to take. Then see the lessons from 'My courses' option.<br />
                If you have some question do not hesitate to contact us (see that tab also) via email.
            </p>
            <p class="lead">
                The team of 'New Soft Academy' wish you happy learning!   
            </p>
        </div>
    </div>
    
</div><!-- end container-fluid-->