<table class="table">
    <tr>
        <td>@DateTime.Now.ToShortDateString() : 'Course' tab's design has been changed!</td>
    </tr>
    <tr><td>2.10.2018 : New course has been added - "JavaScript"
        </td></tr>
    <tr>
        <td>
            1.10.2018 : New lessons has been added to "CSS" course.
        </td>
    </tr>
</table>